.activity-main{
  display: grid;
  grid-template-columns: 4fr 1fr;
  padding: 50px;
  gap: 24px;
  background-color: rgba(128, 128, 128, 0.405);
}
.cards-item{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 36px;
}
@media only screen and (max-width:575px) {
  .activity-main{
    grid-template-columns: 1fr 1fr;
  }
  .cards-item{
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (min-width: 576px) {
  .cards-item{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 992px) {
  .cards-item{
    grid-template-columns: repeat(3, 1fr);
  }
}
