.activity-main{
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 24px;
  background-color: rgba(255, 166, 0, 0.212);
}
.activity-card{
  padding: 50px;
}
.activity-calc{
  background-color: white;
  padding: 20px;
}
.cards-item{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 36px;
}
@media only screen and (max-width:575px) {
  .activity-main{
    grid-template-columns: 1fr 1fr;
  }
  .cards-item{
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (min-width: 576px) {
  .cards-item{
    grid-template-columns: repeat(2, 1fr);
  }
  /* .activity-main{
    grid-template-columns: 3fr 2fr;
  } */
}
@media only screen and (min-width: 992px) {
  .cards-item{
    grid-template-columns: repeat(3, 1fr);
  }
}
